
:root {
   --dark-grey: #080B12;
   --grey-tool: #282828;
   --grey-light: #141922;
   --light: white;
   --dark: black;
   --grey-text:#858585;

   --radius-lg: 50px;
   --radius-full: 999px;

}

/* DEFAULT SETTINGS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
    color: white;
}

ul,
ol,
menu {
	list-style: none;
}

figure > img {
	display: block;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
	display: inline-block;
}

/* LAYOUT */

#app {
    
    height: 100vh;
}

#app,
.app__toolbar,
.app__content,
.app__menu{
    overflow: hidden;
}

.app__content {
    width: 100%;
    flex-grow: 1;
  
}

.app__content-wrapper {
    flex-grow: 1;
    background-color:var(--grey-light);
    overflow: hidden;
}

.app__toolbar{
    height: 90px;
    background-color: var(--grey-tool);
}


.app__menu {
	width: 50px;
    background-color: var(--dark);
}

.row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
}

.row > [class^='col'] {
	padding: 0 12px;
}

h4 {
    text-transform: uppercase;
}
/* .col-4 {
	flex-basis: 100%;
}

.col-6 {
	flex-basis: 100%;
}

.col-8 {
	flex-basis: 100%;
}

.col-12 {
	flex-basis: 100%;
} */

/* UTILITY CLASS */

.flex {
    display: flex;
}

.direction--column {
    flex-direction: column;
}

.justify--between {
	justify-content: space-between;
}

.align--items-center {
	align-items: center;
}

.flex--shrink {
    flex-shrink: 1;
}

.justify--center {
    justify-content: center;
}

.text--hide {
    display: none;
}

.wrap {
    flex-wrap: wrap;
}



/* button */

.button--create {
    width: 36px;
    aspect-ratio: 1;
    background-color:#A3A3A3;
    border: none;
    display: inline-block;
}

.button--upgrade {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    line-height: 40px;
    border-radius: 999px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: bold;
    width: 218px;
    text-align: center;
}


/* -------- */

/* ASIDE TOOLBAR */

.app__toolbar.container-toolbar {
    padding: 10px 10px;
}

.app__toolbar .song-title {
    color: white;
}

.app__toolbar .song-autor {
    color: var(--grey-text);
}

.toolbar-song-image .song-image {
    width: 30px;
    height: 30px;
}

.button-song  [class^='icon'] {
    font-size: 19px;
}

.button-song .icon-play {
    font-size: 25px;
    margin: 0 5px;
}

.toolbar-button .button-song {
    text-align: center;
}

.toolbar-button .button-song > li{
    padding: 8px;
    display: inline-block;

}

.toolbar.toolbar-song__preview {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.toolbar.toolbar-volume{
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
}

.toolbar.toolbar-button {
    max-width: 50%;
    flex-direction: column;
    align-items: center;
    
}

.toolbar-volume .icon-right, .icon-left {
    padding: 0 3px;
}



/* app menu */

/* nav */

.app__menu {
    padding: 5px 10px;
    color: #616161;
    gap: 25px;
}

.app__content .account-menu{
   margin-top: auto;
  
}

.nav-menu .image-small {
    width: 28px;
    height: 28px;
    margin: auto;
}

.nav-menu .image-big {
    display: none;
}

.menu-link .font-link {
    font-size: 11px;
    display: none;
}

.nav-menu .logo-image {
    padding-bottom: 15px;
}

.nav-menu .menu-link {
    gap: 15px;
}

.menu-list .menu-image {
    width: 26px;
    aspect-ratio: 1;

}

/* playlist menu */

.app__menu .playlist-menu {
    display: none;
}

.playlist-menu .playlist-menu-title {
    color: var(--light);
}

.playlist-menu .playlist-name > li{
    margin: 12px 0;
}

.playlist-name .button--create {
    margin-right: 15px;

}

/* ------ */

/* account menu */

.account-menu .install-image {
    width: 30px;
    height: 30px;
    color: #858585;
    
}

.account-menu .download-image{
    width: 17px;
    height: 17px;
    color: #858585;
    margin-top: 50%;
    margin-bottom: 50%;
    transform: translate(50%, -50%);
}

.account-menu .install-text, .account-name {
    padding-left: 10px;
}

.account-menu .account-image {
    width: 30px;
    aspect-ratio: 1;
    border-radius: 999px;
    background-color:#808080 ;
    overflow: hidden;
}

.account-menu .menu-install {
    margin-bottom: 30px;
}

.menu-link {
    position: relative;
}

.left--before_green, .top--before_grey{
    position: relative;
}

/* MAIN */

/* BANNER UPGRADE */

.app__content-wrapper {
    position: relative;
    
}

.app__content-wrapper .banner__upgrade {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    height: 95px;
    width: 100%;
    
}

.banner__upgrade .button {
    justify-content: end;
    padding: 20px 18px;
}

.app__content-wrapper .app__content {
    padding-top: 90px ;
}

.nav__app-content .nav__content {
    gap: 25px;
    padding:22px 0 ;
}
 
.nav__content .nav-items > a {
   text-transform: uppercase;
}
/* debug */



.debug .container-medium,
.debug .container-small {
	border: 3px solid var(black);
	padding: 10px;
}

.debug .row {
	border: 1px solid var(--purple);
	padding: 10px;
}
.debug [class^='col'] {
	border: 1px solid orange;
	padding: 10px;
}

.debug .card {
	min-height: 100px;
}

   
