
:root {
   --dark-grey: #080B12;
   --grey-tool: #282828;
   --grey-light: #141922;
   --light: white;
   --dark: black;
   --grey-text:#858585;

   --radius-lg: 50px;
   --radius-full: 999px;

}

/* DEFAULT SETTINGS */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
    color: white;
}

ul,
ol,
menu {
	list-style: none;
}

figure > img {
	display: block;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
	display: inline-block;
}

/* LAYOUT */

#container-viewport {
    width: 100vw;
    height: 100vh;

}

.container-toolbar {
    height: auto;
    background-color: var(--grey-tool);
}

.container-large {
	flex-grow: 1;
}

.container-content {
    flex-grow: 1;
    background-color:var(--grey-light);
}

.container-menu {
	width: 50px;
    background-color: var(--dark);
}

.row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 24px;
}

.row > [class^='col'] {
	padding: 0 12px;
}

/* .col-4 {
	flex-basis: 100%;
}

.col-6 {
	flex-basis: 100%;
}

.col-8 {
	flex-basis: 100%;
}

.col-12 {
	flex-basis: 100%;
} */

/* UTILITY CLASS */

.display--flex {
    display: flex;
}

.direction--column {
    flex-direction: column;
}

.direction--row {
    flex-direction: row;
}

.justify--between {
	justify-content: space-between;
}
.align--items-center {
	align-items: center;
}

.flex--shrink {
    flex-shrink: 1;
}

/* -------- */

/* ASIDE TOOLBAR */

.app__toolbar.container-toolbar {
    padding: 10px 10px;
}

.app__toolbar .song-title {
    color: white;
}

.app__toolbar .song-autor {
    color: var(--grey-text);
}

.toolbar-song-image .song-image {
    width: 40px;
    height: 40px;
}


.icon {
    font-size: 29px;
}

.toolbar-button .button-song {
    text-align: center;
}

.toolbar-button .button-song > li{
    padding: 8px;
    display: inline-block;

}

.toolbar.toolbar-song__preview {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.toolbar.toolbar-volume{
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
}

.toolbar.toolbar-button {
    flex-direction: column;
    align-content: center;
    
}




/* debug */



.debug .container-medium,
.debug .container-small {
	border: 3px solid var(black);
	padding: 10px;
}

.debug .row {
	border: 1px solid var(--purple);
	padding: 10px;
}
.debug [class^='col'] {
	border: 1px solid orange;
	padding: 10px;
}

.debug .card {
	min-height: 100px;
}

.debug .container-toolbar {
    background-color: var(--dark-grey);
}