
@media (min-width: 576px) { }


@media (min-width: 768px) { 

        /* Menu app */

     
    .app__content .app__menu {
        width: 230px;
        padding: 20px 10px 5px 20px;
    }
     
    .nav-menu .image-small {
        display: none;
    }

     
    .nav-menu .image-big {
        width: 130px;
        height: 40px;
        display: block;
    }
    
}  



@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }