
@media (min-width: 576px) { }


@media (min-width: 768px) { 

        /* Menu app */

     
    .app__content .app__menu {
        width: 230px;
        padding: 20px 10px 5px 20px;
    }
     
    .nav-menu .image-small {
        display: none;
    }

     
    .nav-menu .image-big {
        width: 130px;
        height: 40px;
        display: block;
    }
    
    .menu-link .font-link {
        font-size: 13px;
        font-weight: 400;
        display: flex;
        padding-left: 10px;
    }

    .menu-link .link-home {
        color: white;
    }

    .app__menu .playlist-menu {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .account-menu .install-text, .account-name {
      display: block;
    }
    
    .left--before_green::before {
        content:'';
        display: block;
        position: absolute;
        background-color:#ADFF2F;
        width: 3px;
        height:35px ;
        top: -5px;
        left: -20px; 
    }

    .top--before_grey::before {
        content:'';
        position: absolute;
        background-color:#717171;
        width: 190px;
        height: 1px;
        bottom: 45px;
       
      }
}  




@media (min-width: 992px) {  }


@media (min-width: 1200px) {  }


@media (min-width: 1400px) {  }